.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-weight: 300;
}

.App-intro {
  font-size: 0.8rem;
  color: rgb(91, 92, 109) 
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.suggestScreen {

}

.suggestScreen .card {
  margin-bottom: 2rem;
}